name: Playwright Reqnroll Tests with Allure (Windows)

on:
  push:
    branches: [ main ]
  pull_request:

permissions:
  contents: write


jobs:
  test-and-publish:
    runs-on: windows-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '9.0.x'

      - name: Restore
        run: dotnet restore

      - name: Build
        run: dotnet build
        
        
      - name: Install Playwright Deps
        shell: pwsh
        run: |
            pwsh ./bin/Debug/net9.0/playwright.ps1 install chromium --with-deps

      - name: Run tests
        run: dotnet test

      - name: Install Allure CLI
        shell: pwsh
        run: |
          curl -L https://github.com/allure-framework/allure2/releases/download/2.36.0/allure-2.36.0.zip -o allure.zip
          tar -xf allure.zip
          "$PWD\allure-2.36.0\bin" | Out-File -Append -FilePath $env:GITHUB_PATH
          
      - name: Set Allure results directory
        shell: pwsh
        run: |
            echo "ALLURE_RESULTS_DIRECTORY=$env:GITHUB_WORKSPACE\allure-results" >> $env:GITHUB_ENV

      - name: Run tests
        run: dotnet test

      - name: Debug Allure results
        shell: pwsh
        run: |
           Get-ChildItem bin/Debug/net9.0/allure-results -Recurse

      - name: Install Allure CLI
        shell: pwsh
        run: |
             curl -L https://github.com/allure-framework/allure2/releases/download/2.36.0/allure-2.36.0.zip -o allure.zip
             tar -xf allure.zip
             "$PWD\allure-2.36.0\bin" | Out-File -Append -FilePath $env:GITHUB_PATH

      - name: Generate Allure Report
        run: allure generate bin/Debug/net9.0/allure-results -o allure-report --clean


      #~ - name: Debug Allure results
        #~ shell: pwsh
        #~ run: |
            #~ Get-ChildItem allure-results -Recurse

      #~ - name: Generate Allure report
        #~ run: allure generate allure-results -o allure-report --clean
        
      - name: Locate Allure results anywhere
        shell: pwsh
        run: |
            Get-ChildItem . -Recurse -Directory -Filter allure-results
   
      - name: Publish Allure report to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: allure-report
          force_orphan: true
